<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- URL Rewrite Rules for IIS -->
        <rewrite>
            <rules>
                <!-- Force HTTPS (uncomment if you have SSL) -->
                <!--
                <rule name="Force HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                -->

                <!-- Remove www (optional) -->
                <!--
                <rule name="Remove WWW" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.(.+)$" />
                    </conditions>
                    <action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
                </rule>
                -->

                <!-- Make index.php default -->
                <rule name="Default Document" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="index.php" />
                </rule>

                <!-- Rewrite clean URLs -->
                <rule name="Clean URLs" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>

        <!-- Default Documents -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>

        <!-- Error Pages -->
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <remove statusCode="403" />
            <remove statusCode="500" />
            <error statusCode="404" path="/404.php" responseMode="ExecuteURL" />
            <error statusCode="403" path="/403.php" responseMode="ExecuteURL" />
            <error statusCode="500" path="/500.php" responseMode="ExecuteURL" />
        </httpErrors>

        <!-- Security -->
        <security>
            <requestFiltering>
                <!-- Hide sensitive files -->
                <fileExtensions>
                    <add fileExtension=".sql" allowed="false" />
                    <add fileExtension=".env" allowed="false" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment=".git" />
                    <add segment=".env" />
                    <add segment="config.php" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- Static Content Compression -->
        <httpCompression>
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/atom+xml" enabled="true" />
                <add mimeType="application/xaml+xml" enabled="true" />
                <add mimeType="image/svg+xml" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>

        <!-- Caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>

        <!-- Directory Browsing -->
        <directoryBrowse enabled="false" />
    </system.webServer>

    <!-- PHP Configuration -->
    <system.web>
        <compilation debug="false" />
        <customErrors mode="RemoteOnly" defaultRedirect="/500.php">
            <error statusCode="404" redirect="/404.php" />
            <error statusCode="403" redirect="/403.php" />
        </customErrors>
    </system.web>
</configuration>
